<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Flask Demo{% endblock %}</title>
    <style type="text/css" media="all">
      body {
        margin: 50px auto;
        width: 960px;
      }
      .main {
        clear: both;
        padding-top: 20px;
      }
      .nav {
        float: left;
      }
      .account {
        float: right;
      }
    </style>
  </head>
  <body>
    <div class="messages">
    {% block messages %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}
    {% endblock %}
    </div>

    <div class="content">
      <div class="nav">
        <a href="{{ url_for('account.index') }}">Account</a>
        <a href="{{ url_for('blog.index') }}">Blog</a>
      </div>

      <div class="account">
      {% if g.user %}
        <a href="{{ url_for('account.index') }}">{{ g.user.username }}</a>
        <a href="{{ url_for('account.logout') }}">logout</a>
      {% else %}
        <a href="{{ url_for('account.register') }}">register</a>
        <a href="{{ url_for('account.login') }}">login</a>
      {% endif %}
      </div>

    <div class="main">
    {% block content %}
    {% endblock %}
    </div>
    </div>
  </body>
</html>
