{% extends "base.html" %}


{% block content %}
<form action="" method="post">
  <input type="hidden" name="post_id" id="post_id" value="{{ data.id }}" />
  <p>title: <input type="text" name="title" id="title" value="{{ data.title }}" /></p>
  <p>slug: <input type="text" name="slug" id="slug" value="{{ data.slug }}" /></p>
  <p>content: <textarea name="content" id=content rows="8" cols="40">{{ data.content }}</textarea></p>
  <p><input type="submit" value="new post"> </p>
</form>

{% endblock %}
